<div>
  <h2>Welcome to the Dermo-pointment</h2>
</div>
<p>Please select an option from the left to continue.</p><p>&nbsp;</p><p></p>
<p></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>Copyright 2014</p>
