<%= form_for(@apptnote) do |f| %>
  <% if @apptnote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apptnote.errors.count, "error") %> prohibited this apptnote from being saved:</h2>

      <ul>
      <% @apptnote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_id %><br>
    <%= f.collection_select :appointment_id, Appointment.all, :id, :datetime %>
  </div>
  <div class="field">
    <%= f.label :diagcode_id %><br>
    <%= f.collection_select :diagcode_id, Diagcode.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
