<h1>Listing Appointment Notes</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Patient</th>
      <th>Diagnosis</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apptnotes.each do |apptnote| %>
      <tr>
        <td><%= apptnote.appointment.datetime.strftime("%a, %b %d %Y, %I:%M %p") %></td>
        <td><%= apptnote.appointment.patient.lname %></td>
        <td><%= apptnote.diagcode.name %></td>
        <td><%= apptnote.notes %></td>
        <td><%= link_to 'Show', apptnote %></td>
        <td><%= link_to 'Edit', edit_apptnote_path(apptnote) %></td>
        <td><%= link_to 'Destroy', apptnote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_apptnote_path %>
