<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @apptnote.appointment.datetime.strftime("%a, %b %d %Y, %I:%M %p") %>
</p>

<p>
  <strong>Diagnostic Code:</strong>
  <%= @apptnote.diagcode.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @apptnote.notes %>
</p>

<%= link_to 'Edit', edit_apptnote_path(@apptnote) %> |
<%= link_to 'Back', apptnotes_path %>
