<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @invoice.patient_id %>
</p>

<p>
  <strong>Apptnote:</strong>
  <%= @invoice.apptnote_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
