<%= form_for(@diagcode) do |f| %>
  <% if @diagcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagcode.errors.count, "error") %> prohibited this diagcode from being saved:</h2>

      <ul>
      <% @diagcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dcode %><br>
    <%= f.text_field :dcode %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
