<h1>Listing Diagnostic Codes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagcodes.each do |diagcode| %>
      <tr>
        <td><%= diagcode.dcode %></td>
        <td><%= diagcode.name %></td>
        <td><%= link_to 'Show', diagcode %></td>
        <td><%= link_to 'Edit', edit_diagcode_path(diagcode) %></td>
        <td><%= link_to 'Destroy', diagcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagcode', new_diagcode_path %>
