<p id="notice"><%= notice %></p>

<p>
  <strong>Dcode:</strong>
  <%= @diagcode.dcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @diagcode.name %>
</p>

<%= link_to 'Edit', edit_diagcode_path(@diagcode) %> |
<%= link_to 'Back', diagcodes_path %>
