<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @physician.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @physician.lname %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
