<p id="notice"><%= notice %></p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.lname %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.lname %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @appointment.datetime.strftime("%a, %b %d %Y, %I:%M %p") %>
</p>

<p>
  <strong>Copay:</strong>
  <%= number_to_currency(@appointment.copay) %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
